// font
$main-font: 'Roboto';

// color
$main-color: #5ea0a2;
$green-color: #63baa5;
$green-color-strong: #5db084;
$blue-color: #63a0ba;
$blue-color-strong: #5d82b0;
$black-color: #000;
$gray-color-strong: #666666;
$gray-color: #b3b3b3;
$gray-color-weak: #b2b2b2;
$white-color: #fff;
