@use './variable';

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: variable.$main-font sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	overflow-y: scroll;
	background-color: #fff;
}

code {
	font-family: 'Roboto', Menlo, Monaco, Consolas, 'Courier New', monospace;
}

html {
	background-color: #fff;
}
